# pre-installed in base image - do not reinstall
# Jetson.GPIO==2.1.6    (Jetson build)
# numpy>=1.24.0         (pre-installed as 2.2.4)

# install from PyPI
opencv-python>=4.8.0
sounddevice>=0.4.6
faster-whisper>=1.0.0
piper-tts>=1.2.0
# transformers>=4.45.0
transformers==4.46.3
qwen-vl-utils>=0.0.8
librosa>=0.10.0
soundfile>=0.12.0
accelerate>=0.26.0
autoawq>=0.2.0

# tensorRT and related stuff should come with the docker base image